body {
    margin: 0;
    padding: 0;
}

.fixed-header, .fixed-footer {
    position: fixed;
    width: 100%;
}

.fixed-header {
    top: 0;
}

.fixed-footer {
    bottom: 0;
}

header {
    margin: 0;
    padding: 6px;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-between ;
    list-style-type: none;
    /* list-style-type:none removes the bullet points from the list  */
    margin: 0;
    padding: 0;
    /* margin and padding set to 0 in order to remove the default
    settings of browser  */
    overflow: hidden;
    /* overflow:hidden is added to the ul element to prevent li
    elements from going outside of the list. */
    background-color: #ffffff;
    /* background-color is added to the ul element to create a full-width
    background color along the page. (works with "overflow:hidden" property */
     
}

/* float:left (in the li element below) gets block elements to float next to each other */
header ul li {
    float: left;
    background-color: rgb(255, 255, 255);
    margin: 0 5px;
    padding: 5px  
}

header ul li a {
    font-family: arial, sans-serif;
    display: block;
    padding: 0;
    margin: 0;
    text-decoration: none;
    /* text-decoration:none added to remove the default
    appearence (i.e underline) of the links (a elements) */
    text-align: center;

}

header ul li a:hover {
    text-decoration: underline;

}

.navright a {
    font-size: 13px;
    color: rgba(0,0,0,0.87);
}

.navleft a {
    font-size: 14px;
    color: #222222;
}

.ppborder {
    border-width: 4px;
    border-color: rgba(255, 255, 255);
    border-style: solid;    
}

.ppborder:hover {
    border-color: rgba(60,64,67,0.08);
}

.appsborder {
    border-width: 8px;
    border-color: rgba(255, 255, 255);
    background-color: white;
    border-style: solid;
    border-radius: 50%;    
}

.appsborder:hover {
    border-color: #eff0f0;
    background-color: rgba(60,64,67,0.08);
}

.googlecontainer {
    background-color: white;
    display: flex;
    min-height: 83vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}


.searchfield {
    height: 46px;
    min-width: 584px;
    border-radius: 24px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfe1e5;

}

.searchfield:hover {
    border-color: rgba(223,225,229,0);
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.buttonsbelow {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: white;
    padding: 0px 16px;
    margin: 11px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    height: 36px;
    min-width: 54px;
    color: #3c4043;
    cursor:pointer;
}

.buttonsbelow:hover {
    border: 1px solid #dadce0;
    color: #202124;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: rgba(0,0,0,.54);

}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
}


footer ul li {
    float: left;
    padding: 15px 15px;
    font-size: 14px;
    text-align: center;  
}

footer ul li a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
}

footer ul li a:hover {
    text-decoration: underline;
}